@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
}
.font-outfit {
  font-family: "Outfit", sans-serif;
  color: #1a1a1a;
}

.stext {
  font-family: "Caveat", cursive;
}

.img1 {
  border-radius: 10px;
  background: url("/resources/background.png") no-repeat center center;
  background-size: cover;
}
